html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.125em;
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: 100;
}
h4,
h5,
h6,
div,
span,
p,
a {
  font-weight: 300;
}
a {
  text-decoration: none;
}
section#content {
  color: #222;
  height: 100%;
}
section#content > section {
  height: 100%;
  overflow: auto;
}
section#content > section nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  text-align: center;
}
section#content > section nav h2 {
  color: #fff;
  padding: 0.375em;
  background-color: #3275da;
  font-size: 2em;
}
section#content > section nav a {
  display: inline-block;
  color: #222;
  padding: 0.75em 1.5em;
  margin-bottom: -1px;
  font-size: 1em;
  text-transform: uppercase;
}
section#content > section nav a:hover,
section#content > section nav a.active {
  border-bottom: 1px solid #3275da;
}
section#content > section section.page {
  height: calc(100% - 106px);
  margin-top: 106px;
  overflow: auto;
}
section#content > section section.page section {
  width: 40em;
  max-width: calc(100% - 4em);
  margin: 1em auto;
}
section#content > section section.page p {
  margin: 0.75em auto;
  font-size: 1.25em;
  line-height: 1.75em;
}
section#content > section section.page p a {
  color: #3275da;
  cursor: pointer;
}
section#content > section section.page h4 {
  font-size: 2em;
}
section#content > section section.page h4 span {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: #eee;
}
section#content > section section.page#home {
  position: relative;
  background-image: url(f6a1852b48e38a0003bf2e0117f3d9fc.jpg);
  background-position: center;
  background-size: cover;
}
section#content > section section.page#home > div {
  position: absolute;
  top: calc(50% - 2.5em);
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
}
section#content > section section.page#home > div h3,
section#content > section section.page#home > div h1 {
  color: #fff;
  text-transform: uppercase;
}
section#content > section section.page#home > div h3 {
  font-size: 2.5em;
}
section#content > section section.page#home > div h1 {
  font-size: 5em;
  font-weight: 900;
}
